.example-card {
    margin-top: 10%;
    width: 100%;
}

.mat-confirm {
    background-color: green;
    color: #fff;
}

.mat-back {
    background-color: red;
    color: #fff;
}

.expiry {
    width: 10%;
}


.form {
    padding: 15px 25px
}
