.row {
    margin-top: 5%;
}

.booking-card {
    width: 100%;
}

.profile-card {
    margin-right: 0%;
    width: 100%;
}

.mat-update {
    background-color: orange;
    margin-right: 25px;
}

.mat-cancel {
    background-color: crimson;
}

.align-right {
    text-align: right;
}