.row {
    margin-top: 5%;
}

.booking-card {
    width: 100%;
}

.profile-card {
    margin-right: 0%;
    width: 100%;
}

.mat-cancel {
    background-color: #ef5349;
    font-size: 14px;
    margin-left: 5%;
}

.align-right {
    text-align: right;
}