<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" style="font-size: large;">
                    <mat-icon svgIcon="Rocket"></mat-icon>Rocket Airlines<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li *ngIf="!loggedIn()" class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li *ngIf="!loggedIn()" class="nav-item">
                <a class="nav-link" routerLink="signup">Sign up</a>
            </li>
            <li *ngIf="loggedIn()" class="nav-item">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>account_circle</mat-icon>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="account">
                        <mat-icon>flight</mat-icon>
                        <span>My account</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>